*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
  overflow-x:hidden;
  background:white;
}

img{
  max-width:100%;
  display:block;
}

a{
  text-decoration:none;
}

button{
  font-family:'Poppins',sans-serif;
}